.game
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game-state-var
{
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	font-size: 14pt;
	color: var(--text);
	border-radius: 4px;
}

.game-state-var-box
{
	width: 200px;
	text-align: center;
}

.main-button
{
	transform: scale(0.8);
	transition: 0.15s ease;
}
.main-button:active
{
	transform: scale(0.76);
}