.cfg-container
{
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: 90vw;
	height: 50vh;
}

.cfg-options
{
	flex: 1;
	height: 100%;
}

.cfg-options input[type=text]
{
	width: 50%;
	height: 40px;
	padding: 0 10px;
}

.cfg-preview
{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--secondary);
	height: 100%;
	border: 1px solid var(--secondary);
	border-radius: 4px;
	user-select: none;
}

.cfg-preview div
{
	width: 50px;
	height: 50px;
	background: url('https://zoo-aquos.pl/userdata/public/gfx/33824/Repti-Planet-Terrarium-Szklane-Skladane-60x45x60cm.png');
	background-size: contain;
	background-position: center;
}

@keyframes terrarium_in
{
	0% { opacity: 0; }
	100% { opacity: 1; }
}