.cfg-container
{
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: 90vw;
	height: 50vh;
}

.cfg-options
{
	flex: 1;
	height: 100%;
}

.cfg-options input,
.cfg-options select {
    padding: 5px;
    font-size: 16px;
    border-radius: 15px;
}

.cfg-options input[type="text"] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 10px;
}

.cfg-options input[type=number] {
    width: 4%;
    min-width: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 6px 6px 6px 6px;
}

.cfg-options button {
    min-width: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 6px 6px 6px 6px;
}

.cfg-options select {
    width: 15%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 10px;
}

.cfg-options a {
    color: white;
    text-decoration: none;
}

.cfg-options a:hover {
    text-decoration: underline;
}

.teren
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
}

.form-group
{
	margin-bottom: 15px;
	width: 50%;
}

label
{
	font-weight: bold;
}

select, input[type="text"], input[type="button"]
{
	width: 100%;
	padding: 8px;
	margin-top: 5px;
}

.add-on
{
	position: absolute;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.add-on.plant
{
	background-image: url('img/wodorosty.png');
	background-size: cover;
	width: 90px;
	height: 180px;
}

.add-on.ship
{
	background-image: url('img/starek.png');
	background-size: cover;
	width: 75px;
	height: 60px;
}

.add-on.lamp
{
	background-image: url('img/lampy.png');
	background-size: cover;
	width: 120px;
	height: 80px;
}

.add-on.cave
{
	background-image: url('img/jaskinia.png');
	background-size: cover;
	width: 150px;
	height: 150px;
}

.accessory-list {
	margin-bottom: 20px;
}
.accessory-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.accessory-item button {
	padding: 5px 10px;
}

.cfg-preview
{
	/* flex: 1; */
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */
	color: var(--secondary);
	/* height: 100%; */
	position: relative;
	width: 600px;
	height: 450px;
	border: 1px solid var(--secondary);
	border-radius: 4px;
	user-select: none;
	background-image: url('img/akwarium.png');
	background-size: cover;
}

/* .cfg-preview div
{
	position: relative;
} */

.cfg-preview span
{
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
}

@keyframes terrarium_in
{
	0% { opacity: 0; }
	100% { opacity: 1; }
}