@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geist:wght@100..900&display=swap");

:root[data-theme="light"] {
  --text: #0d140b;
  --text-inverted: #edf4eb;
  --background: #fffaea;
  --primary: #557f78;
  --primary-darker: #395651;
  --secondary: #8ea99f;
  --dark: #101817;

  --nav-background: #070d0c;
  --nav-text: #edf4eb;
}

:root[data-theme="dark"] {
  --text: #edf4eb;
  --text-inverted: #0d140b;
  --background: #151918;
  --primary: #4b6f69;
  --primary-darker: #395651;
  --secondary: #7c938a;
  --dark: #101817;

  --nav-background: #070d0c;
  --nav-text: #edf4eb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--text);
  /*transition: background 0.1s linear;*/
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.theme-checkbox {
  opacity: 0;
  position: absolute;
}

.theme-checkbox-label {
  background-color: var(--secondary);
  width: 50px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f1c40f;
}

.theme-checkbox-label .theme-ball {
  background-color: #fff;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 2px;
  top: 1px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.theme-checkbox:checked + .theme-checkbox-label .theme-ball {
  transform: translateX(27px);
}

/*#region Nav Bar*/

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--nav-background);
  padding: 12px 20px;
  z-index: 1000;
}

.logo img {
  width: 40px;
}

.menu {
  display: flex;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--nav-text);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--nav-text);
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  color: var(--nav-text);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--nav-background);
    transition: all 0.2s ease-in-out;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu li a {
    padding: 10px;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }
}

/*#endregion*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 110px);
}

.title-banner {
  background: url("https://www.wideopenspaces.com/wp-content/uploads/sites/3/2020/09/Exotic-Pets-Where-They-Can-Be-Owned.png?fit=1200%2C800")
    #2b2d4296;
  background-size: cover;
  background-position: 0;
  background-blend-mode: multiply;
  width: 60rem;
  height: 20rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.title-banner h1 {
  color: white;
  letter-spacing: 6px;
  font-size: 5rem;
  text-shadow: 0px 0px 12px rgba(66, 68, 90, 1);
}

.title-banner p {
  color: white;
  font-size: 2rem;
  text-shadow: 0px 0px 12px rgba(66, 68, 90, 1);
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 3rem;
}

footer {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  z-index: -1000;
}



/*
.card {
    --bg-card: #27272a;
    --primary: #27272a;
    --primary-800: #59BE60;
    --primary-shadow: #59BE60;
    --light: #ffffff;
    --zinc-800: #59BE60;
    --bg-linear: #59BE60;
    --price: #66f054;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 1rem;
    margin: 1.5rem;
    width: 20rem;
    background-color: var(--bg-card);

    border-radius: 1rem;


    -webkit-box-shadow: 0px 9px 16px -3px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 9px 16px -3px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 9px 16px -3px rgba(0, 0, 0, 0.63);
}

.image_container {

    overflow: hidden;
    cursor: pointer;

    position: relative;
    z-index: 5;

    width: 100%;
    height: 12rem;
    background-color: var(--primary-800);

    border-radius: 0.5rem;
}

.image_container .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    overflow: clip;

    width: 100%;

    font-size: 1.65rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.size {
    font-size: 0.85rem;
    color: var(--light);
}

.action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--price);
}

.cart-button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    margin: auto;

    padding: 0.5rem;
    width: 50%;
    background-color: var(--bg-linear);

    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
    text-wrap: nowrap;

    border: 2px solid hsla(101, 49%, 22%, 0.5);
    border-radius: 0.5rem;
}

.cart-button .cart-icon {
    width: 1rem;
}
*/

/*#endregion*/

/* PAGE LOADER STYLES */
/* #loader {
	background-color: #ffffff;
	width: 98vw; height: 96vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vw;
}

.loader {
	width: 36px;
	height: 36px;
	border: 2px solid #000000;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: loader 1s linear infinite;
}

@keyframes loader
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
} */